<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialdukan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Employe.Fragment.edit_prof_emp"></activity>
        <activity android:name=".Employe.Fragment.about_emp" />
        <activity android:name=".Employe.Login_Register_Employe.Dashboard_emp" />
        <activity android:name=".Employe.Login_Register_Employe.Employe_detail" />
        <activity android:name=".Employe.Login_Register_Employe.Login_Employe" />
        <activity android:name=".Student.Notifications.Notifications" />
        <activity android:name=".Student.fragment.profile.aboutus.testimonial_vh" />
        <activity android:name=".Student.fragment.profile.aboutus.about_us" />
        <activity
            android:name=".Student.fragment.Event.Register_event"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Student.fragment.Event.FAQ.Faq_manager" />
        <activity android:name=".Student.fragment.Event.Events_detail" />
        <activity android:name=".Student.fragment.Event.events_vh" />
        <activity
            android:name=".Student.fragment.other_services.Detail_Submitted"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Student.fragment.MyDashboard.InternForm" />
        <activity android:name=".Student.fragment.other_services.Card2_detail" />
        <activity android:name=".Student.fragment.other_services.Card5_Form" />
        <activity
            android:name=".Student.fragment.other_services.Thanks_Activity"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Student.fragment.other_services.Card4_Form" />
        <activity android:name=".Student.fragment.other_services.Other_Services" />
        <activity android:name=".Student.fragment.other_services.Card3_Form" />
        <activity android:name=".Student.fragment.other_services.Card2_Form" />
        <activity android:name=".Student.fragment.other_services.Card1_Form" />
        <activity android:name=".Student.fragment.Internship.ApplyIntern" />
        <activity
            android:name=".Student.fragment.profile.Profile_activity4"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity
            android:name=".Student.fragment.profile.Profile_activity3"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity
            android:name=".Student.fragment.profile.Profile_activity2"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity
            android:name=".Student.fragment.profile.Profile_activity1"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Student.fragment.SimpleFragmentPagerAdapter" />
        <activity android:name=".Student.fragment.Internship.InternDetail" />
        <activity android:name=".Student.fragment.Internship.InternFragment" />
        <activity android:name=".Student.Chat_bot.feature.MainActivity" />
        <activity android:name=".Student.Login_Register_Student.Dashboard" />
        <activity
            android:name=".Employe.Login_Register_Employe.Verification_2"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Employe.Login_Register_Employe.Reg_Employe" />
        <activity
            android:name=".Student.Login_Register_Student.Verification"
            android:theme="@style/AppTheme.Popupstyle" />
        <activity android:name=".Student.Login_Register_Student.Login_Student" />
        <activity android:name=".Student.Login_Register_Student.Reg_Student" />
        <activity android:name=".Employe.IntroActivity2" />
        <activity android:name=".LoginActvity" />
        <activity android:name=".Student.Login_Register_Student.IntroActivity" />
        <activity android:name=".Student.Login_Register_Student.Studentdetail" />
        <activity android:name=".Student.fragment.profile.Edit_profile" />
        <activity android:name=".splashActi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>